@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}

body {
    background-color: #01121b;
}

#header {
    width: 100%;
    color: #fff;
    padding: 1rem 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo p {
    color: #737373;
}

.container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    position: relative;
}

.container form {
    width: 30%;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #ececec;
    background-color: #fafafa;
}

.container input {
    width: 100%;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    border: 0.1rem solid rgba(0, 128, 128, 0.329);
    outline: none;
}

.container input#file-input {
    border: 0.15rem solid #dfdada;
    margin-bottom: 0.5rem;
}

.container input#code-fg {
    margin-bottom: 1rem;
}

.container h1 {
    color: #fff;
}

section.checkbox {
    margin-bottom: 1rem;
}

.input-div label,
.radioBtns input,
.radioBtns label {
    font-size: 0.8rem;
}

section.checkbox label {
    font-size: 0.7rem;
}

.container input#excavate {
    width: max-content;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding: 0;
}

.container input#yes,
.container input#no {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.container div.yes,
.container div.no {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div.no {
    margin-left: 1rem;
}

.container div.yes label,
.container div.no label {
    margin-left: 0.5rem;
}

.input-div {
    display: flex;
    flex-direction: column;
}

.form-text {
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
}

.btn {
    background: linear-gradient(300deg, teal, blue);
    width: 100%;
    color: #fff;
    margin-top: 2rem;
    padding: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(300deg, blue, teal);
}

.title {
    margin-bottom: 1rem;
}

.radioBtns {
    width: max-content;
    display: flex;
}

.svg-parent {
    width: 40%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border: 0.15rem solid #004b4b60;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.svg-con {
    width: max-content;
    background-color: #fff;
    border: 0.15rem solid lightgray;
    padding: 0.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#download-btn {
    width: max-content;
    background-color: blue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0.3rem 2rem;
    border: none;
    border-radius: 0.3rem;
}

#download-btn:hover {
   cursor: pointer;
   background-color: #0404b6;
}

#download-icon {
    margin-right: 0.5rem;
}

section.logo p {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

#scan-btn {
    background-color: #008080;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.7rem;
    border-radius: 0.3rem;
    border: none;
}

#scan-btn:hover {
    cursor: pointer;
    background-color: #015f5f;
}

#close-btn {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border-radius: 50%;
}

#close-btn:hover {
    cursor: pointer;
    background-color: #8080803f;
}

#upload-btn {
    width: 50%;
    background-color: #00808018;
    color: #008080;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 0.3rem 0.5rem;
    border: 0.05rem solid #008080;
    border-radius: 0.3rem;
}

#upload-btn:hover {
    cursor: pointer;
    background-color: #00808027;
}

#upload-icon {
    margin-right: 0.5rem;
}

.camera {
    width: max-content;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

.qr-scan {
    width: max-content;
}

.overlay.darken {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.scanner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.5rem);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 900;
}

.scanner-overlay.show {
    opacity: 1;
    pointer-events: all;
}

.scanner-container {
    width: 30%;
    /* max-width: 30rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 1000;
}

.scanner-container.show {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(1);
}

.scanner-close-btn {
    margin-top: 1rem;
    width: 100%;
    background: crimson;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

#reader {
  width: 100% !important;
  /* max-width: 30rem; */
  height: 15rem !important;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
}


.footer {
    width: 100%;
    font-size: 0.9rem;
    padding: 1rem;
    color: #737373;
}

.footer p {
    text-align: center;
}


/* BREAKPOINTS */

@media (max-width: 479px) {
    .container {
        padding: 1rem;
        margin-top: 1rem;
    }

    .container form {
        width: 90%;
    }

    #upload-btn {
        width: 60%;
    }

    .svg-parent {
        width: 90%;
    }

    #header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .qr-scan {
        margin-top: 2rem;
    }

    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .scanner-container {
        width: 90%;
    }
}

@media (min-width: 480px) and (max-width: 679px) {
    .container {
        padding: 1rem;
    }

    .container form,
    .svg-parent {
        width: 70%;
    }

    #header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .qr-scan {
        margin-top: 2rem;
    }

    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .scanner-container {
        width: 70%;
    }
}

@media (min-width: 680px) and (max-width: 799px) {
    .container form {
        width: 60%;
    }

    #header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .svg-parent {
        width: 70%;
    }

    .qr-scan {
        margin-top: 2rem;
    }

    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .scanner-container {
        width: 40%;
    }
}

@media (min-width: 800px) and (max-width: 1023px) {
    .container form {
        width: 50%;
    }

    .svg-parent {
        width: 60%;
    }

    .scanner-container {
        width: 40%;
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .container form {
        width: 40%;
    }

    .svg-parent {
        width: 50%;
    }
}