* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: red;
    padding: 2rem;
}

.container form {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    padding: 0.5rem 1rem;
}

.container input {
    width: 60%;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
}

.btn {
    width: max-content;
    padding: 0.2rem 0.5rem;
}

.btn:hover {
    cursor: pointer;
}

.img-con {
    margin-top: 3rem;
}