* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* background-color: red; */
    padding: 2rem;
}

.container form {
    width: 60%;
    padding: 0.5rem 1rem;
}

.container input {
    width: 60%;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
}

.container input#excavate,
.container input#yes,
.container input#no {
    width: max-content;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding: 0;
}

.container div.no {
    margin-left: 1rem;
}

.input-div {
    display: flex;
    flex-direction: column;
}

section.checkbox {
    margin-bottom: 2rem;
}

.btn {
    width: max-content;
    padding: 0.2rem 0.5rem;
}

.btn:hover {
    cursor: pointer;
}

.img-con {
    margin-top: 3rem;
}

.title {
    margin-bottom: 1rem;
}

.radioBtns {
    width: max-content;
    display: flex;
}

.svg-parent {
    width: max-content;
    display: flex;
    flex-direction: column;
}

.svg-con {
    background-color: red;
    padding: 1rem;
}

#download-btn {
    margin-top: 1rem;
}