* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: red;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.container input {
    width: 40%;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
}

.btn {
    width: max-content;
    padding: 0.2rem 0.5rem;
}