* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    padding: 2rem;
}

.container form {
    width: 40%;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: green;
}

.container input {
    width: 100%;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    border: none;
}

.container input#file-input {
    width: 70%;
    margin-bottom: 0.5rem;
}

section.checkbox {
    margin-bottom: 1rem;
}

.container input#excavate,
.container input#yes,
.container input#no {
    width: max-content;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding: 0;
}

.container div.no {
    margin-left: 1rem;
}

.input-div {
    display: flex;
    flex-direction: column;
}

.btn {
    width: max-content;
    margin-top: 1rem;
    padding: 0.2rem 0.5rem;
}

.btn:hover {
    cursor: pointer;
}

.img-con {
    margin-top: 3rem;
}

.title {
    margin-bottom: 1rem;
}

.radioBtns {
    width: max-content;
    display: flex;
}

.svg-parent {
    width: max-content;
    display: flex;
    flex-direction: column;
}

.svg-con {
    background-color: #fff;
    border: 0.2rem solid lightgray;
    padding: 0.5rem;
}

#download-btn {
    margin-top: 0.5rem;
    padding: 0.2rem 0;
}

#download-btn:hover {
   cursor: pointer;
}